header {
  width: 100%;
  height: 136px;
}
header .head-up {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 87px;
  padding: 40px;
}
header .head-up .is {
  display: flex;
}
header .head-up .is a img {
  width: 103px;
  height: 36px;
}
header .head-up .se {
  width: 331px;
  height: 36px;
  background-color: rgb(234, 233, 233);
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
}
header .head-up .se i {
  padding: 10px;
  color: rgb(98, 98, 98);
}
header .head-up .se form input {
  border: none;
  background-color: rgb(234, 233, 233);
}
header .head-up .dep {
  display: flex;
  align-items: center;
}
header .head-up .dep a {
  text-decoration: none;
  color: rgb(98, 98, 98);
}
header .head-up .dep a i {
  color: rgb(98, 98, 98);
}
header .head-up .en {
  display: flex;
  align-items: center;
}
header .head-up .en i {
  color: rgb(98, 98, 98);
}
header .head-up .en button {
  border: none;
  background: none;
}
header .head-up .con {
  display: flex;
  gap: 15px;
}
header .head-up .con a i {
  color: rgb(98, 98, 98);
}
header .head-l ul {
  display: flex;
  gap: 38px;
  list-style-type: none;
}
header .head-l ul a {
  text-decoration: none;
  color: rgb(53, 53, 53);
}

.nav {
  width: 100%;
  height: 36px;
  background-color: #0071e3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav p {
  padding-top: 5px;
  color: white;
  font-size: 12px;
}
.nav i {
  color: white;
  padding-bottom: 5px;
}

#goods {
  width: 100%;
  height: 406px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

#pro {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  gap: 30px;
}
#pro .ap {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 110px;
  padding-bottom: 40px;
  justify-content: space-between;
}
#pro .ap .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pro .ap .cards img {
  width: 92px;
  height: 60px;
}
#pro .ap .cards p {
  font-size: 14px;
}

#new {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  gap: 30px;
}
#new .ca {
  display: flex;
  gap: 20px;
  padding-bottom: 40px;
}
#new .ca .nec {
  display: flex;
  flex-direction: column;
  width: 288px;
  height: 390px;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 2px 4px 12px -4px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 2px 4px 12px -4px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 2px 4px 12px -4px rgba(0, 0, 0, 0.71);
}
#new .ca .nec img {
  width: 223px;
  height: 193px;
}
#new .ca .nec p {
  font-size: 14px;
  padding-left: 10px;
}
#new .ca .nec span {
  color: #e33500;
}

#adv {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
#adv .ad {
  display: flex;
  border-radius: 20px;
}
#adv .ad img {
  width: 493px;
  height: 364px;
}
#adv .ad .p-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 596px;
  height: 364px;
  background-color: #f0efef;
}
#adv .ad .p-right p {
  text-align: center;
}
#adv .ad .p-right .sel {
  width: 108px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.2px solid #0071e3;
  border-radius: 35px;
}
#adv .ad .p-right .sel a {
  text-decoration: none;
  color: #0071e3;
}
#adv .ad .p-right .sel a:hover {
  color: #71a5d8;
}

#ser {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  gap: 30px;
}
#ser .car {
  display: flex;
  gap: 20px;
  padding-bottom: 40px;
}
#ser .car .ne {
  display: flex;
  flex-direction: column;
  width: 294px;
  height: 185px;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 2px 4px 12px -4px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 2px 4px 12px -4px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 2px 4px 12px -4px rgba(0, 0, 0, 0.71);
}
#ser .car .ne p {
  font-size: 17px;
  padding-left: 20px;
}
#ser .car .ne span {
  color: #0071e3;
}/*# sourceMappingURL=style.css.map */